.crowd-page{
  padding:20px;
}

.crowd-header{
  margin-bottom:25px;
}

.crowd-header h1{
  font-size:34px;
  color:#111827;
}

.crowd-header p{
  color:#6b7280;
}

.crowd-top{
  display:grid;
  grid-template-columns:300px 1fr;
  gap:20px;
  margin-bottom:25px;
}

.station-card,
.summary-card,
.platform-section,
.heatmap-card,
.ai-insight{
  background:white;
  border:1px solid #e5e7eb;
  border-radius:24px;
  padding:24px;

  box-shadow:
  0 4px 15px rgba(0,0,0,.05);
}

.station-card select{
  width:100%;
  margin-top:15px;
  padding:12px;
  border-radius:12px;
}

.summary-grid{
  display:grid;
  grid-template-columns:
  repeat(3,1fr);
  gap:20px;
}

.summary-card{
  text-align:center;
}

.summary-card h2{
  color:#2563eb;
}

.platform-section{
  margin-bottom:25px;
}

.platform-section h2{
  margin-bottom:20px;
}

.platform-card{
  display:grid;
  grid-template-columns:
  180px 1fr 70px;

  gap:20px;

  align-items:center;

  margin-bottom:20px;
}

.progress-container{
  height:16px;
  background:#e5e7eb;
  border-radius:999px;
  overflow:hidden;
}

.progress-bar{
  height:100%;
}

.low{
  background:#22c55e;
}

.medium{
  background:#facc15;
}

.high{
  background:#ef4444;
}

.heatmap-card{
  margin-bottom:25px;
}

.heatmap-grid{
  display:grid;
  grid-template-columns:
  repeat(4,1fr);
  gap:15px;
  margin-top:20px;
}

.heat{
  height:100px;
  border-radius:16px;

  display:flex;
  justify-content:center;
  align-items:center;

  font-weight:600;
}

.ai-insight p{
  line-height:1.8;
}

@media(max-width:768px){

.crowd-top{
grid-template-columns:1fr;
}

.summary-grid{
grid-template-columns:1fr;
}

.platform-card{
grid-template-columns:1fr;
}

.heatmap-grid{
grid-template-columns:1fr 1fr;
}

}